*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif   ;
}

html, body{
    font-size: 18px;
    background-color: whitesmoke;
    color:  #ff4e19 ;
}

.temple-image{
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.temple{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#e8e7e7;
    color :#00ff13;
}

.Nombre{
    font-size: 1.5rem;
    margin-top: 2rem;;
    text-align: center;
}

.Apodo{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.Frase{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: safe;
}